body {
    text-align: center;
}

#score-panel {
  padding-right: auto;
  padding-left: auto;
}

#score-panel p {
    font-size: 2em;
    margin-bottom: 0;
}

#score-panel img {
  width: 3%;
  height: auto;
}
